[Unit]
Description=WebKit Build container

[Container]
Image=wk-dev.image
AutoUpdate=registry
Volume=/home/phil/WebKit:/home/phil/WebKit:z
EnvironmentFile=/home/phil/WebKit/b-webkit.env
Exec=/usr/local/bin/b-webkits
Network=host

[Install]
WantedBy=local.target
