[Unit]
Description=WebKitGTK Clang Index Server container

[Container]
Image=wk-dev.image
AutoUpdate=registry
Volume=/home/phil/WebKit:/home/phil/WebKit:z
Exec=/usr/local/clangd-indexer/bin/clangd-index-server --server-address=0.0.0.0:50051 /home/phil/WebKit/gtk-clangd-index.idx /
PublishPort=50051

[Install]
WantedBy=local.target

[Service]
Restart=always
RuntimeMaxSec=2d
