[Unit]
Description=WebKitGTK Clang Index container

[Container]
Image=wk-dev.image
AutoUpdate=registry
Volume=/home/phil/WebKit:/home/phil/WebKit:z
Environment=WEBKIT_HOME=/home/phil/WebKit
Exec=/usr/local/bin/webkit-clangd-indexer -p gtk

[Install]
WantedBy=local.target
